img {
  max-width: 100%;
}
html {
  --primary: #f54119;
  --secondary: #e3e0d9;
}
body {
  font-family: "plus jakarta sans";
  background-color: var(--secondary);
  line-height: 150%;
}
main {
  margin: 2% 12%;
  gap: 10%;
}
h1 {
  color: var(--primary);
  text-align: center;
}
h2 {
  color: var(--primary);
  text-align: center;
}
/* header {
  background-color: #ded4c6;
} */
footer {
  background-color: #ded4c6;
}
