/* .logoo {
  width: 60%;
} */

.knaptext {
  color: #e3e0d9;
  font-size: 1rem;
}

.heroforside {
  width: 70%;
  display: block;
  margin: auto;
}

.ommigimg {
  width: 70%;
  display: block;
  margin: auto;
}

.grid1-1 li {
  list-style: inside;
}

@media (min-width: 800px) {
  .footerstor {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
  }
  .section1 {
    margin: 1% 25%;
  }
  .ommig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1% 9%;
  }
  .cv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin: 5% 9%;
    line-height: 300%;
    text-align: left;
  }
  .temaopgave {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9%;
    padding: 3em;
    padding-top: 1em;
    padding-bottom: 5em;
  }
  .grid1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9%;
    padding: 3em;
    padding-top: 1em;
    padding-bottom: 5em;
    align-items: center;
  }
  .order {
    grid-row: 1;
  }
  .opsummering {
    /* margin: 5% 10%; */
    padding-top: 0.5em;
    padding-bottom: 5em;
    margin-left: 15%;
    margin-right: 15%;
  }
  .knapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 23%;
    margin-right: 23%;
  }
  .knappertema {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    /* margin-top: 2%; */
    margin-bottom: 12%;
    margin-left: 23%;
    margin-right: 23%;
  }
}

@media (max-width: 799px) {
  .footerlille {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .heroforside {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .knapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 70%;
  }
  .knappertema {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 30%;
  }
  .cv {
    text-align: left;
    margin: 20% 1%;
    line-height: 200%;
  }
}
